extends ../node_modules/pug-pack/src/_base

append head
    title YEEAAARGH
    meta(name="google" content="notranslate")
    script: include jquery.slim.min.js
    script: include bootstrap.bundle.min.js
    style: include bootstrap.min.css
    style.
        #abc {
            resize: both;
            height: 10em;
            width: 100%;
            font-family: monospace;
        }
        body { padding: 1em }
        #paper { width: 100% }
        .item { white-space: nowrap }

        /* lean toolbar */
        #toolbar { gap: .45rem; margin-top: .6rem }
        #toolbar .btn .bi { vertical-align: -.15em }
        #toolbar .btn .bi + span,
        #toolbar .btn .bi + * { margin-left: .35em }
        #toolbar .btn-group-toggle .btn .bi { margin-right: .35em }
        #toolbar #songLabel {
            display: inline-block;
            max-width: 45vw;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: bottom;
            white-space: nowrap;
        }
        #toolbar .dropdown-menu { max-height: 60vh; overflow-y: auto }
        #key-menu { min-width: 7rem }

        /* advanced panel (power-user / editing) */
        #advanced { display: none; margin-top: 1rem }
        #advanced > * { margin-bottom: .8rem }

        @media print {
            .noprint { display: none !important }
        }

append body
    //- inline Bootstrap-icons style glyph (no extra deps): pass an array of {d, fr?}
    mixin bi(paths)
        svg.bi(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true" focusable="false")
            each p in paths
                if p.fr
                    path(fill-rule=p.fr d=p.d)
                else
                    path(d=p.d)

    #toolbar.noprint.d-flex.flex-wrap.align-items-center
        //- Song picker (primary action)
        .dropdown
            button.btn.btn-primary.dropdown-toggle#songFile(type="button" data-toggle="dropdown" title="Choose a song")
                +bi([{d:'M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2S10 12.105 10 11c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2z'},{fr:'evenodd',d:'M14 11V2h1v9h-1zM6 3v10H5V3h1z'},{d:'M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z'}])
                span#songLabel Pick a song
            .dropdown-menu#song-menu(aria-labelledby="songFile")
                - var keys = Object.keys(src['by-title.json'])
                - keys.sort()
                each k in keys
                    a.dropdown-item(href="#")= k

        //- View toggles
        .btn-group.btn-group-toggle.btn-group-sm#viewToggles(data-toggle="buttons")
            label.btn.btn-outline-secondary.active(title="Show lyrics")
                input#show-lyrics(type="checkbox" checked autocomplete="off")
                +bi([{d:'M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z'},{d:'M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z'}])
                | Lyrics
            label.btn.btn-outline-secondary(title="Show trumpet fingering")
                input#show-trumpet(type="checkbox" autocomplete="off")
                svg.bi(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true" focusable="false")
                    circle(cx="3.6" cy="8" r="2.1")
                    circle(cx="8" cy="8" r="2.1")
                    circle(cx="12.4" cy="8" r="2.1")
                | Trumpet
            label.btn.btn-outline-secondary(title="Show guitar tab")
                input#show-gtab(type="checkbox" autocomplete="off")
                svg.bi(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-width="1.3" viewBox="0 0 16 16" aria-hidden="true" focusable="false")
                    path(d="M1 3.5h14M1 6.5h14M1 9.5h14M1 12.5h14")
                | Tab

        //- Transpose: pick the destination key (offset shown)
        .dropdown
            button.btn.btn-outline-secondary.btn-sm.dropdown-toggle#keyBtn(type="button" data-toggle="dropdown" title="Transpose: choose a key")
                +bi([{fr:'evenodd',d:'M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z'}])
                span#keyLabel –
            .dropdown-menu.dropdown-menu-right#key-menu(aria-labelledby="keyBtn")

        //- Advanced / edit ABC (power users)
        button.btn.btn-outline-secondary.btn-sm.ml-auto#advancedToggle(type="button" title="Advanced / edit ABC" aria-pressed="false")
            +bi([{d:'M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z'},{d:'M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.434-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z'}])

    #paper

    #advanced.noprint
        .item
            span Enter some 
            a(href="https://github.com/brewingcode/shanties/blob/master/README.md" target="_blank") ABC notation
            span , or 
            a(href="https://github.com/brewingcode/shanties/tree/master/songs")
                +bi([{d:'M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z'}])
                span  add a song
        textarea#abc(spellcheck="false")
        #warnings
        p The Songbook PDF can be found at <a href="Songbook.pdf">this link</a>, or via this QR code:
        img(src="qr-code.svg" alt="https://brewingcode.github.io/shanties/Songbook.pdf" width="200" height="200")
        div
            a(href="https://github.com/brewingcode/shanties/commit/" + src['GIT_HEAD'])= src['GIT_HEAD']
    script.
        var songs = !{JSON.stringify(src['songs.json'])};
        var byTitle = !{JSON.stringify(src['by-title.json'])};
    script: include abcjs-basic.js
    script
        :coffeescript
            abcjsParams =
                responsive: 'resize'
                add_classes: true

            displayKey = ->
                { tunes } = window.editor
                k = tunes?[0].getKeySignature()
                return unless k
                if k.acc is 'b'
                    k.root + '♭'
                else if k.acc is '#'
                    k.root + '#'
                else
                    k.root

            CHROMATIC = ['C', 'D♭', 'D', 'E♭', 'E', 'F', 'G♭', 'G', 'A♭', 'A', 'B♭', 'B']
            prevStep = 0
            origPc = null

            keyToPc = (name) ->
                return null unless name
                base = { C: 0, D: 2, E: 4, F: 5, G: 7, A: 9, B: 11 }
                pc = base[name.charAt(0)]
                return null unless pc?
                pc += 1 if name.indexOf('#') >= 0 or name.indexOf('♯') >= 0
                pc -= 1 if name.indexOf('♭') >= 0
                ((pc % 12) + 12) % 12

            updateKeyLabel = ->
                k = displayKey() or '–'
                k += " (#{if prevStep > 0 then '+' else ''}#{prevStep})" unless prevStep is 0
                $('#keyLabel').text k
                $('#key-menu .dropdown-item').each ->
                    $(this).toggleClass 'active', +$(this).attr('data-offset') is prevStep

            buildKeyMenu = ->
                menu = $('#key-menu').empty()
                return unless origPc?
                for d in [-5..6]
                    pc = (((origPc + d) % 12) + 12) % 12
                    label = CHROMATIC[pc]
                    label += " (#{if d > 0 then '+' else ''}#{d})" unless d is 0
                    $('<a class="dropdown-item" href="#"></a>')
                        .attr('data-offset', d)
                        .text(label)
                        .appendTo menu
                updateKeyLabel()

            setSong = (song) ->
                s = song
                    .split /\n/
                    .filter (line) ->
                        if m = line.match /^\s*w:(.*)/i
                            lyrics = m[1]
                            if lyrics.match /^[\s\d\?]+$/
                                # all digits are trumpet fingering, keep those
                                return $('#show-trumpet').is(':checked')
                            else 
                                return $('#show-lyrics').is(':checked')
                        else
                            return true
                    .join('\n')
                window.editor.editarea.setString s
                document.title = Object.entries(byTitle)
                    .find ([k,v]) -> v is song
                    ?.at(0) or 'YEEAAARGH'
                prevStep = 0
                setTimeout ->
                    origPc = keyToPc displayKey()
                    buildKeyMenu()
                , 500

            updateUrl = (title) ->
                params = new URLSearchParams(window.location.search)
                params.set 'title', title
                window.history.replaceState {}, '', "#{window.location.pathname}?#{params}"

            addEditButton = ->
                $('#advanced > .edit-btn').remove()
                btn = $('<button type="button" class="btn btn-primary btn-sm edit-btn">Edit</button>')
                btn.on 'click', ->
                    btn.remove()
                    $('#abc').prop('disabled', false)
                        .focus()
                        .on 'blur', ->
                            $('#abc').prop 'disabled', true
                            addEditButton()
                $('#advanced').prepend btn

            window.onload = ->
                window.editor = new ABCJS.Editor 'abc',
                    canvas_id: 'paper',
                    warnings_id: 'warnings'
                    abcjsParams: abcjsParams

                $('#song-menu a.dropdown-item').click (e) ->
                    e.preventDefault()
                    title = $(this).text()
                    setSong byTitle[title]
                    $('#songLabel').text title
                    updateUrl title

                $('#key-menu').on 'click', '.dropdown-item', (e) ->
                    e.preventDefault()
                    tv = +$(this).attr('data-offset')
                    return if tv is prevStep
                    newTunes = ABCJS.strTranspose $('#abc').val(), window.editor.tunes, tv - prevStep
                    window.editor.editarea.setString newTunes
                    prevStep = tv
                    setTimeout updateKeyLabel, 500

                $('#show-lyrics, #show-trumpet').on 'change', ->
                    setSong byTitle[document.title]

                $('#show-gtab').on 'change', ->
                    window.editor.paramChanged {
                        ...abcjsParams
                        tablature: if $(this).is(':checked')
                            [{
                                instrument: "guitar",
                                label: "Guitar (%T)",
                                tuning: ["E,", "A,", "D", "G", "B", "e"],
                            }]
                    }

                $('#advancedToggle').on 'click', ->
                    shown = $('#advanced').toggle().is(':visible')
                    $(this).toggleClass('active', shown).attr 'aria-pressed', shown

                params = new URLSearchParams(window.location.search)
                file = params.get('file')
                title = params.get('title')
                if file and songs[file]
                    setSong songs[file]
                    $('#songLabel').text(document.title) unless document.title is 'YEEAAARGH'
                else if title and byTitle[title]
                    setSong byTitle[title]
                    $('#songLabel').text title
                else
                    setSong "%%notelabels 1\nB c d e | ff | c'd' | EE E | =D^D"

                if params.get('advanced') is 'true'
                    $('#advanced').show()
                    $('#advancedToggle').addClass('active').attr 'aria-pressed', true

                if navigator.userAgent.match /i(Pad|Phone)/i
                    $('#abc').prop 'disabled', true
                    addEditButton()
